<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% if(reply){reply.forEach((list)=>{ %>
    <li><%= list.replyContent %></li>
    <% })}else{console.log('nothing')} %>
  </ul>
</body>
</html>