<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/login" id="loginForm" name="loginForm" method="post" style="margin-bottom: 40px;">
    <p>login Form</p>
    <input type="text" name="id" id="id" placeholder="아이디입력" style="width: 50%;background: lightcyan;">
    <input type="password" name="pass" id="pass" placeholder="비밀번호입력" style="width: 50%;background: lightcyan;">
    <button type="submit">로그인</button>
  </form>
  <form action="/signup" id="signupForm" name="signupForm" method="post" style="margin-top: 40px;">
    <p>Sign Up Form</p>
    <input type="text" name="id" id="idSign" placeholder="아이디입력" style="width: 50%;background: lightcoral;">
    <input type="text" name="name" id="nameSign" placeholder="이름입력" style="width: 50%;background: lightcoral;">
    <input type="password" name="password" id="passSign" placeholder="비밀번호입력" style="width: 50%;background: lightcoral;">
    <button type="submit">가입</button>
  </form>
</body>
</html>