<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="width: 1200px;margin: 0 auto;">
    <h1 style="text-align: center;">뉴스 컨텐츠</h1>
    <div style="margin: 100px auto;text-align: center;">
      <% renderFile.forEach((news)=>{ %>
          <h2><a href="/news/<%= news.nid %>"><%= news.title %></a></h2>
          <img src="<%= news.url %>" alt="" style="width: 200px; height: 200px;">
          <div><%= news.content %></p>
      <%}) %>
    </div>
  </div>
  
</body>
</html>